@model List<TbReserva>
@{
    var lab = ViewBag.Lab;
    DateTime fecha = ViewBag.fecha;
    int mes = ViewBag.mes;
    int año = ViewBag.año;
    int dia = ViewBag.dia;
    int x = 0;
    string[,,] semana = new String[14,8,2];
    DateTime primerdia=fecha.AddDays(-(byte)fecha.DayOfWeek + 1)
    , ultimodia=fecha.AddDays(6 - (byte)fecha.DayOfWeek);
    string pepe,pepe2,pepe3;
    for (int i = 0; i <= 13; i++)
    {
        for (int j = 0; j < 6; j++)
        {
            semana[i, j,1] = "";
            semana[i, j,0] = "";
        }
    }
}
<div class="card">
        <div class="card-header">
           <h4 style="text-align:center">Reservas</h4>
           <form  asp-controller="Reserva" method="get" asp-action="Index">
                <input id="dia" name="dia" type="hidden" value=@dia>
                <input id="mes" name="mes" type="hidden" value=@mes>
                <input id="año" name="año" type="hidden" value=@año>
                
                <div class="container">
                    <div class="row">
                      <div class="col-sm-4" style="padding-top:5px; padding-left:25px">
                        <button type="submit" id="x" name="x" value="-7"  style="background:none;border:none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                    </svg>
                        </button>
                        @primerdia.ToShortDateString() - @ultimodia.ToShortDateString()
                        <button id="x" name="x" value="7" type="submit" style="background:none;border:none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                        </button>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group" >
                            <select class="form-control" asp-for="@lab" asp-items="ViewBag.Laboratorios"><option selected disabled>--Seleccionar--</option></select>
                            <span class="text-danger"></span>
                        </div>
                      </div>
                      <div class="col-sm-4" style="padding-left:100px">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" asp-route-lab="@lab"value="Buscar"/>
                        </div>
                      </div>
                </div>
            </form>
        </div>
        <div class="card-body" style="padding:25px">
            <table class="table table-bordered border-black">
                <thead>
                    <tr style="text-align:center">
                        <th>Modulo</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sabado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<TbModulo>)ViewBag.Modulos)
                    {
                        semana[item.IdModulo, 0,0] = Convert.ToString(item.InicioMod);
                        semana[item.IdModulo, 0,1] = Convert.ToString(item.FinMod);
                    }

                    @foreach (var item in (List<TbReserva>)ViewBag.reservas)
                    {
                        semana[item.IdModulo, (byte)item.FechaReserva.DayOfWeek,0] = item.Curso;
                        semana[item.IdModulo, (byte)item.FechaReserva.DayOfWeek,1] = item.Docente;
                    }
                     @for (int i = 1; i <= 13; i++)
                    { 
                        pepe = semana[i, 0,0];
                        pepe2 = semana[i, 0,1];
                        <tr style="text-align:center">
                           <th >@Html.DisplayFor(m=>pepe)<br>@Html.DisplayFor(m=>pepe2)</th>
                           @for(int j=1;j<=6; j++)
                           {
                               pepe = semana[i, j,0];
                               pepe2 = semana[i, j,1];
                               <td>@Html.DisplayFor(m=>pepe)<br />@Html.DisplayFor(m=>pepe2)</td>
                           }   
                         </tr>
                    }   
                </tbody>
            </table>
       </div>
</div>