@model Reservas.Models.ViewModel.ReservaViewModel
@{
    var lab = ViewBag.Lab;
    DateTime fecha = ViewBag.fecha;
    int mes = ViewBag.mes;
    int año = ViewBag.año;
    int dia = ViewBag.dia;
    int x = 0,xy=0,tmod = 0;
    int IdU = ViewBag.IdU;
    string[,,] semana = new String[14,8,3];
    DateTime primerdia=fecha.AddDays(-(byte)fecha.DayOfWeek + 1)
    , ultimodia=fecha.AddDays(6 - (byte)fecha.DayOfWeek);
    string pmodulo,pmodulo2;
    string pcurso, pdocente, preserva;
    for (int i = 0; i <= 13; i++)
    {
        for (int j = 0; j < 6; j++)
        {
            semana[i, j,1] = null;
            semana[i, j,0] = null;
        }
    }
}
<div class="card">
        <div class="card-header">
           <h4 style="text-align:center">Reservas</h4>
           <form  asp-controller="Reserva" method="get" asp-action="Index">
                <input id="dia" name="dia" type="hidden" value=@dia>
                <input id="mes" name="mes" type="hidden" value=@mes>
                <input id="año" name="año" type="hidden" value=@año>
                <input id="IdU" name="IdU" type="hidden" value=@IdU>
                
                <div class="container">
                    <div class="row">
                      <div class="col-sm-4" style="padding-top:5px; padding-left:25px">
                        <button type="submit" id="x" name="x" value="-7"  style="background:none;border:none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                    </svg>
                        </button>
                        @primerdia.ToShortDateString() - @ultimodia.ToShortDateString()
                        <button id="x" name="x" value="7" type="submit" style="background:none;border:none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                        </button>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group" >
                            <select class="form-control" asp-for="@lab" asp-items="ViewBag.Laboratorios"><option selected disabled>--Seleccionar--</option></select>
                            <span class="text-danger"></span>
                        </div>
                      </div>
                      <div class="col-sm-4" style="padding-left:100px">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" asp-route-lab="@lab"value="Buscar"/>
                        </div>
                      </div>
                </div>
            </form>
        </div>
        <div class="card-body" style="padding:25px">
            <table class="table table-bordered border-black" >
                <thead>
                    <tr style="text-align:center">
                        <th>Modulo</th>
                        <th>Hora</th>
                        <th>Lunes @primerdia.Day</th>
                        <th>Martes @primerdia.AddDays(1).Day</th>
                        <th>Miercoles @primerdia.AddDays(2).Day</th>
                        <th>Jueves @primerdia.AddDays(3).Day</th>
                        <th>Viernes @primerdia.AddDays(4).Day</th>
                        <th>Sabado @primerdia.AddDays(5).Day</th>
                    </tr>
                </thead>
                <tbody>
                @if(lab!=0) {
                    @foreach (var item in (List<TbModulo>)ViewBag.Modulos)
                    {
                        tmod++;
                        semana[item.IdModulo, 0,0] = Convert.ToString(item.InicioMod).Substring(0,Convert.ToString(item.InicioMod).Length-3);
                        semana[item.IdModulo, 0,1] = Convert.ToString(item.FinMod).Substring(0,Convert.ToString(item.InicioMod).Length-3);
                    }
                    @foreach (var item in (List<TbReserva>)ViewBag.reservas)
                    {
                        semana[item.IdModulo, (byte)item.FechaReserva.DayOfWeek,0] = item.Curso;
                        semana[item.IdModulo, (byte)item.FechaReserva.DayOfWeek,1] = item.Docente;
                        semana[item.IdModulo, (byte)item.FechaReserva.DayOfWeek,2] = Convert.ToString(item.IdReserva);
                    }
                     @for (int i = 1; i <= tmod; i++)
                    { 
                        pmodulo = semana[i, 0,0];
                        pmodulo2 = semana[i, 0,1];

                        <tr style="text-align:center">
                        @if (semana[i, 0, 0] != "")
                        {
                            <th>@i</th>
                        }
                        <th >@Html.DisplayFor(m=>pmodulo)<br>@Html.DisplayFor(m=>pmodulo2)</th>
                        @for(int j=1;j<=6; j++)
                        {
                            pcurso = semana[i, j,0];
                            pdocente = semana[i, j,1];
                            preserva = semana[i, j, 2];
                            xy = i * 10 + j;
                            if (primerdia.AddDays(j) >= DateTime.Now)
                            {
                                if (pdocente != null && pcurso != null)
                                {
                                <td><a type="button" style="background:none" class="btn btn-secundary" asp-action="Modificar" asp-route-lab="@lab"
                            asp-route-dia=@dia asp-route-mes=@mes asp-route-xy=@xy asp-route-año=@año asp-route-IdU=@IdU asp-route-tmod=@tmod 
                            asp-route-xy=@xy asp-route-IdReserva="@preserva">@pcurso <br /> @pdocente</a></td>
                            }
                            else
                            {
                                <td><a type="button" style="background:none" class="btn btn-secundary" asp-action="Create" asp-route-lab="@lab"
                            asp-route-dia=@dia asp-route-mes=@mes asp-route-año=@año asp-route-tmod=@tmod asp-route-xy=@xy asp-route-IdU=@IdU>Disponible</a></td>
                            }
                            }
                            else
                            {
                                if (pdocente != null && pcurso != null)
                                {
                                    <td><a for="xy" Id="@xy" value="@xy"    style="background-color:none" 
                                    data-bs-whatever="@xy">@pcurso <br /> @pdocente</a></td>
                                }
                                else
                                {
                                    <td><a for="xy" Id="@xy" value="@xy"  style="background:none"   
                                    data-bs-target="#Form-Reserva">  </a></td>
                                }
                            }
                        }   
                        </tr>
                    }  
                }
                </tbody>
            </table>
       </div>
</div>
