@model List<TbUsr>

@section Estilos{
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet" />

} 
@{
    int IdU = ViewBag.IdU;
}
<div class="card">
    <div class="card-header">
    <h4>Tabla de Usuarios</h4>
    </div>
    <div class="card-body">
        <table Id="BotonesUsr" class=table table-striped">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Fono
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                        Username
                    </th>
                    <th><a asp-action="Create" class="btn btn-success btn-sm" asp-route-IdUsr="0" asp-route-IdU=@IdU>Crear</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tbusr in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m=>tbusr.NombreUsr)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>tbusr.ApellidoUsr)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>tbusr.EmailUsr)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>tbusr.FonoUsr)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>tbusr.RolUsrNavigation.NombreRol)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>tbusr.UsernameUsr)
                    </td>
                    <td>
                        <a asp-action="Modificar" class="btn btn-primary btn-sm"asp-route-IdUsr="@tbusr.IdUsr" asp-route-IdU=@IdU>Editar</a>
                        <a asp-action="Eliminar" class="btn btn-danger btn-sm"asp-route-IdUsr="@tbusr.IdUsr" asp-route-IdU=@IdU>Eliminar</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#BotonesUsr').DataTable({
                dom: 'Bfrtip',
                
                buttons: [
                    {
                        extend: 'excel',
                        text:'Exportar a Excel',
                        title:"Tabla de Usuarios",
                        filename:'Tabla de Usuarios',
                        exportOptions: { columns: [0, 1, 2, 3, 4, 5] }
                    },
                    {
                        extend: 'pdf',
                        text:'Exportar a PDF',
                        title:"Tabla de Usuarios",
                        filename:'Tabla de Usuarios',
                        exportOptions: { columns: [0, 1, 2, 3, 4, 5] }
                    },
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        title:"Tabla de Usuarios",
                        exportOptions: {columns: [0, 1, 2, 3, 4, 5],
                            modifier: {
                                selected: null
                            }
                        }
                    }
                ],
                select: true
            });
        });
    </script>
}